<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>servlets.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreatedAnimalServlet</servlet-name>
    <servlet-class>servlets.CreatedAnimalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeePersonServlet</servlet-name>
    <servlet-class>servlets.SeePersonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeeVehicleServlet</servlet-name>
    <servlet-class>servlets.SeeVehicleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloServlets</servlet-name>
    <servlet-class>servlets.HelloServlets</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>MainMenuServlet</servlet-name>
        <servlet-class>servlets.MainMenuServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>SeeAnimalServlet</servlet-name>
    <servlet-class>servlets.SeeAnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlets</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenuServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeeAnimalServlet</servlet-name>
    <url-pattern>/newanimal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeeVehicleServlet</servlet-name>
    <url-pattern>/newvehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeePersonServlet</servlet-name>
    <url-pattern>/newperson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatedAnimalServlet</servlet-name>
    <url-pattern>/animalcreated</url-pattern>
  </servlet-mapping>
</web-app>
